@import "./variables";

.routesview {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    display: grid;
    grid-template-areas:
        "item1 item2"
        "item1 item2"
        "item3 item3";
    gap: 10px;
    padding: 10px;
    .routesview_item1 {
        grid-area: item1;
    }
    .routesview_item2 {
        grid-area: item2;
    }
    .routesview_item3 {
        grid-area: item3;
    }

    .routesview_item1,
    .routesview_item2,
    .routesview_item3 {
        border-radius: $border_radius;
        padding: $padding;
        overflow: hidden;
        background-color: white;
    }
}

.routes_grid,
.stops_grid,
.routes_map {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    :nth-child(2) {
        flex: 1;
    }
}

.maps_container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: relative; /* Ensure it positions correctly within the parent */
    #map {
        width: 100%;
        height: 100%;
        position: absolute; /* Ensure it fills the parent container */
    }
}
