.route_edit_form {
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > :first-child {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        flex: 1;
    }
    & > :nth-child(2) {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}

.route_edit_form_radio {
    display: flex;
}
